<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <%- include ('/home/node/app/views/cabecalho.ejs') %>
    <h1>Autor</h1>
    <p>Nome: Jeovah Mario</p>
    <h2>Formações Acadêmicas</h2>
    <ul>
        <li>Técnico em Eletromecânica</li>
    </ul>
    <h2>Experiências Profissionais</h2>
    <ul>
        <li>Estagiário</li>
        <li>Seção de motores</li>
        <li>Ano: 2020</li>
    </ul>
    <footer>Desenvolvido por Jeovah Mario</footer>
</body>
</html>
