<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <%- include ('/home/node/app/views/cabecalho.ejs') %>
    <h1>Problema: Cálculo da Área de um Suporte Octogonal!</h1>
    <p><strong>Problema:</strong></p>
    <p>Determine a área de um suporte octogonal com base no comprimento de um dos lados. Se a área for menor que 20 metros quadrados, o suporte é considerado pequeno. Caso contrário, ele é especial.</p>
    <form action="/suporte" method="post">
        <label>
            <span>Suporte</span>
            <input name="suporte">
        </label>
        <label>
            <span>Lado</span>
            <input name="lado">
        </label>
        <button type="submit">Ok</button>
    </form>
    
</body>
</html>
